* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colours */
  --bg-dark: hsl(203 22% 90%);
  --bg: hsl(203 45% 95%);
  --bg-light: hsl(203 100% 100%);
  --text: hsl(204 66% 4%);
  --text-muted: hsl(202 14% 28%);
  --highlight: hsl(203 100% 100%);
  --border: hsl(202 8% 50%);
  --border-muted: hsl(203 11% 62%);
  --primary: hsl(196 100% 18%);
  --secondary: hsl(29 99% 22%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);

  /* Dimensions */
  --sidebar-width: 300px;
  --sidebar-height: 100lvh;

  --extra-small-padding: 4px;
  --small-padding: 8px;
  --medium-padding: 16px;
  --big-padding: 24px;
  --extra-big-padding: 36px;
}

body {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows:
    calc(var(--medium-padding) * 5)
    calc(var(--sidebar-height) - var(--medium-padding) * 7)
    auto;

  grid-template-areas:
    "none main"
    "aside main";

  padding: var(--medium-padding);
  background-color: var(--bg-dark);
}
.aside ~ .none {
  grid-area: none;

  background-color: var(--bg-dark);
}
ul {
  list-style-type: none;
}
.aside {
  grid-area: aside;

  border-radius: var(--medium-padding) 0 0 var(--medium-padding);
  padding: var(--medium-padding);
  background-color: var(--bg);

  position: relative;
}
.aside > li {
  padding: var(--extra-small-padding);
  margin: 0 0 6px 0;
  border-radius: 8px;

  background-color: var(--bg-dark);
  transition: 0.2s;
  overflow: hidden;

  display: grid;
}
.aside > li span {
  font-size: 1.2rem;
  font-weight: 500;
  padding: var(--small-padding);
  color: var(--text);
}
.aside > li.open {
  grid-template-rows: 1fr calc((30px + var(--extra-small-padding)) * var(--i));
}
.aside > li span svg {
  transition: 0.2s;
  color: var(--text);
}
.aside > li.open span svg {
  transform: rotate(180deg);
}
.aside > li.closed {
  grid-template-rows: 1fr 0;
}
.aside > li span {
  font-family: var(--font-heading);
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside .dropdown {
  margin: var(--extra-small-padding) 0 0 0;
}
.aside .dropdown li {
  display: flex;
  align-items: center;
  font-family: var(--font-body);
  color: var(--text-muted);
  background-color: var(--bg-light);
  font-weight: 500;
  height: 30px;
  margin: 0 0 var(--extra-small-padding) 0;
  padding: var(--extra-small-padding) var(--extra-small-padding)
    var(--extra-small-padding) var(--big-padding);
  border-radius: 4px;
}
.aside .dropdown li:last-child {
  margin: 0;
}
.aside::before {
  content: "";
  position: absolute;
  width: calc(var(--medium-padding) * 2);
  height: calc(var(--medium-padding) * 2);
  border-radius: var(--medium-padding);
  background-color: transparent;
  box-shadow: 16px 16px var(--bg);
  top: -32px;
  right: 0;
  z-index: -1;
}

main {
  grid-area: main;

  border-radius: var(--medium-padding) var(--medium-padding)
    var(--medium-padding) 0;

  background-color: var(--bg);

  padding: var(--medium-padding);
}
